@import "tailwindcss";

@layer base {
  :root {
    --background: 244 83% 98%; /* #FAF8FF */
    --foreground: 245 56% 9%; /* #09081D */
  }
 
  .dark {
    --background: 245 56% 9%;   /* #09081D */
    --foreground: 244 83% 98%; /* #FAF8FF */
  }
}
