@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-accent: #40ffa6;
  --color-brand-purple: #634fed;
  --color-brand-blue: #3ba1fe;
  --color-dark: #09081d;

  --text-display-headline: 210px;
  --text-display-headline--line-height: 200px;
  --text-display-headline--font-weight: 700;
  --text-h1: 70px;
  --text-h1--line-height: 84px;
  --text-h1--font-weight: 700;
  --text-h2: 40px;
  --text-h2--line-height: 48px;
  --text-h2--font-weight: 700;
  --text-sub-header: 30px;
  --text-sub-header--line-height: 36px;
  --text-sub-header--font-weight: 700;
  --text-body: 18px;
  --text-body--line-height: 22px;
  --text-body--font-weight: 700;
}

@layer base {
  :root {
    --background: white; /* Light mode background */
    --foreground: 245 56% 9%;   /* Light mode text */
  }

  .dark {
    --background: 245 56% 9%;   /* Dark mode background */
    --foreground: 244 83% 98%; /* Dark mode text */
  }
}
